{% extends 'base/base.html' %}
{% block estilo %}
<style>
.snps-inline-select {
    width: auto;
    display: inline-block;
}
</style>
{% endblock %}
{% block title %}
Vender productos
{% endblock %}

{% block contenido %}


<p><strong>Producto a vender:</strong> {{ object.cultivo }}</p>
<p><strong>Cantidad actual:</strong> {{ object.cantidad }} {{ object.unidad_medida }}</p>
<p><strong>Precio de venta por unidad:</strong> {{ object.precio }}</p>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <!--<div class="col-md-6">-->
    <label>Nombre del comprador:</label>
    <input class="form-control" type="text" name="nombre_vendedor">
    <br>
    <label>Cantidad de {{ object.unidad_medida }} a vender:</label>
    <input class="form-control" type="number" min=0 name="cantidad_comprar" required>
    <br>
    <br>
     <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
  </div>
        <input class="form-control" id="date" type="date" min="2019-01-01" name="fecha_final" aria-describedby="inputGroup-sizing-default" required>
</div>
    <div class="trans">
        <button class="btn btn-success" type="submit">Guardar</button>
    </div>
    <br>
</form>

{% endblock %}