{% extends 'base/base.html' %}

{% block title %}
Ganado
{% endblock %}

{% block title2 %}
Ganado
{% endblock %}

{% block contenido %}
    {% for field in user.groups.all %} {% if field.name == 'GanadoAdd' %}
        <a class="btn btn-primary" href="{% url 'bovino_crear' %}">Agregar ganado</a>
    {% endif %}{% endfor %}
    {% if object_list %}
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <!--<th>#</th>-->
                <th>Nombre</th>
                <th>Tatuaje</th>
                <th>Siniga</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

                {% for i in object_list %}
                    <tr>
                        <!--<td>{{ i.id }}</td>-->
                        <td>{{ i.nombre }}</td>
                        <td>{{ i.arete }}</td>
                        <td>{{ i.siniga }}</td>
                        <!--<td>{{ i.created }}</td>-->
                        <!--<td>{{ i.updated }}</td>-->
                        <td>
                            <a class="btn btn-primary" href="{% url 'bovino_show' i.pk %}">Ver</a>
                            {% for field in user.groups.all %} {% if field.name == 'GanadoUpd' %}
                            <a class="btn btn-success" href="{% url 'bovino_update' i.pk %}">Editar</a>
                            {% endif %}{% endfor %}
                            {% for field in user.groups.all %} {% if field.name == 'GanadoDel' %}
                            <a class="btn btn-danger" href="{% url 'bovino_delete' i.pk %}">Eliminar</a>
                            {% endif %}{% endfor %}
                            {% for field in user.groups.all %} {% if field.name == 'GanadoVen' %}
                            <a class="btn btn-info" href="{% url 'bovino_venta' i.pk %}">Vender</a>
                            {% endif %}{% endfor %}
                        </td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
    {% else %}
        <h2>No hay registros Bovino</h2>
    {% endif %}
    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}