
{% extends 'base/base.html' %}

{% block title %}
Detalles de bovino
{% endblock %}

{% block contenido %}
    <!--<p><img src="{{ object.img.url }}" class="col-md-3"></p>-->
    <br>
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>Datos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p><strong>#:</strong> {{ object.id }}</p>
                    <p><strong>Nombre:</strong> {{ object.nombre }}</p>
                    <p><strong>Arete:</strong> {{ object.arete }}</p>
                    <p><strong>Siniga:</strong> {{ object.siniga }}</p>
                    <p><strong>Sexo:</strong> {{ object.sexo }}</p>
                    <p><strong>Propietario:</strong> {{ object.propietario }}</p>
                    <p><strong>Ganadera:</strong> {{ object.ganadera }}</p>
                    {% if object.no_padre %}
                    <p><strong>Número del padre:</strong> {{ object.no_padre }}</p>
                    {% endif %}
                    {% if object.no_madre %}
                    <p><strong>Número de la madre:</strong> {{ object.no_madre }}</p>
                    {% endif %}
                    <p><strong>Fecha de nacimiento:</strong> {{ object.fecha_nacimiento }}</p>
                    <p><strong>Tipo de nacimiento:</strong> {{ object.tipo_nacimiento }}</p>
                    <p><strong>Tipo de parto:</strong> {{ object.tipo_parto }}</p>
                    <!--<p><strong>tipo_servicio:</strong> {{ object.tipo_servicio }}</p>-->
                    <!--<p><strong>fecha_servicio:</strong> {{ object.fecha_servicio }}</p>-->
                    <p><strong>Localización del fierro:</strong> {{ object.localizacion_fierro }}</p>
                    <!--<p><strong>potrero:</strong> {{ object.potrero }}</p>-->
                    <p><strong>Estado:</strong> {{ object.estado }}</p>
                    <!--<p><strong>En venta:</strong> {{ object.galeria_venta }}</p>-->
                    <p><strong>Fecha de creación:</strong> {{ object.created }}</p>
                    <p><strong>Fecha de actualización:</strong>{{ object.updated }}</p>
                    <p><img src="{{ object.img.url }}" class="col-md-3"></p>
                </th>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'bovino_list' %}">Regresar</a>
    <br>
    <br>
    <br>

{% endblock %}