{% extends 'base/base.html' %}

{% block title %}
Ganado sin registro
{% endblock %}

{% block title2 %}
Ganado sin registro
{% endblock %}

{% block contenido %}
    {% for field in user.groups.all %} {% if field.name == 'GanadoAdd' %}
        <a class="btn btn-primary" href="{% url 'bovino_sinregistro_crear' %}">Agregar ganado</a>
    {% endif %}{% endfor %}
    {% if object_list %}

    <form method="POST">
        {% csrf_token %}
        <!--<h1>Año de nacimiento</h1>-->
        <p>Año: <input name="caja" type="number" placeholder="Ej. 2018">
        <button class="btn btn-success" type="submit">Buscar</button>
        </p>
    </form>

    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>Nombre</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                {% for i in object_list %}
                    <tr>
                        <td>{{ i.nombre }}</td>
                        <td><img src="{{ i.img.url }}" class="col-md-3"></td>
                        <td>
                            <a  class="btn btn-primary" href="{% url 'bovino_sinregistro_show' i.pk %}">Ver</a>
                            {% for field in user.groups.all %} {% if field.name == 'GanadoUpd' %}
                            <a class="btn btn-success" href="{% url 'bovino_sinregistro_update' i.pk %}">Editar</a>
                            {% endif %}{% endfor %}
                            {% for field in user.groups.all %} {% if field.name == 'GanadoDel' %}
                            <a class="btn btn-danger" href="{% url 'bovino_sinregistro_delete' i.pk %}">Eliminar</a>
                            {% endif %}{% endfor %}
                            {% for field in user.groups.all %} {% if field.name == 'GanadoVen' %}
                            <a class="btn btn-warning" href="{% url 'bovino_venta_poner2' i.pk %}">Galeria de venta</a>
                            <a class="btn btn-info" href="{% url 'bovino_sinregistro_venta' i.pk %}">Vender</a>
                            {% endif %}{% endfor %}
                        </td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
    {% else %}
        <h2>No hay registros Bovino</h2>
    {% endif %}
    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}