
{% extends 'base/baselogin.html' %}

{% block title %}
Nueva contraseña
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Por favor ingrese su nueva contraseña</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Ingresa la nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar la nueva contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Enter" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Error al restablecer</h1>
        <p>No fue posible recuperar la contraseña debido a que el vínculo ha expirado, vuelva a intentarlo solicitando un nuevo eligiendo la opción
de recuperar la contraseña.</p>
    {% endif %}

{% endblock %}