
{% extends 'base/base.html' %}

{% block title %}
Detalles del registro del cultivo
{% endblock %}

{% block contenido %}
    <!--<p><img src="{{ object.img.url }}" class="col-md-3"></p>-->
    <br>
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p><strong>#:</strong> {{ object.id }}</p>
                    <p><strong>Cultivo:</strong> {{ object.cultivo }}</p>
                    <p><strong>Hectáreas:</strong> {{ object.hectareas }}</p>
                    <p><strong>Cantidad:</strong> {{ object.cantidad }}</p>
                    {% if object.fecha_final %}
                    <p><strong>Producción obtenida:</strong> {{ object.produccion_obtenida }}  {{ object.unidad_medida }} </p>
                    {% endif %}
                    <p><strong>Ciclo:</strong> {{ object.ciclo }}</p>
                    <p><strong>Fecha de inicio:</strong> {{ object.fecha_inicio }}</p>
                    {% if object.fecha_final %}

                    <p><strong>Fecha de finalización:</strong> {{ object.fecha_final}}</p>
                    {% endif %}
                </th>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'cultivo_en_proceso_list' %}">Regresar</a>
    <br>
    <br>
    <br>

{% endblock %}