
{% extends 'base/base.html' %}

{% block title %}
Detalles del registro del cultivo
{% endblock %}

{% block contenido %}
    <!--<p><img src="{{ object.img.url }}" class="col-md-3"></p>-->
    <br>
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>Datos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p><strong>#:</strong> {{ object.id }}</p>
                    <p><strong>Producto:</strong> {{ object.producto }}</p>
                    <p><strong>Hectáreas:</strong> {{ object.hectareas }}</p>
                    <p><strong>Cantidad:</strong> {{ object.cantidad }}</p>
                    <p><strong>Producción estimada:</strong> {{ object.pe }}</p>
                </th>
            </tr>
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <!--{{ form.cantidad }}-->
        <!--<label>{{ form.cantidad.label }}</label>-->
        <label>Cantidad</label>
        <input class="form-control" type="text" name="numer1">
        <br>
        <br>
        <div class="trans">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    </form>




    <br>
    <br>
    <br>

{% endblock %}