{% extends 'base/base.html' %}

{% block title %}
Cultivo
{% endblock %}

{% block title2 %}
Cultivo en producción
{% endblock %}

{% block contenido %}
    <a class="btn btn-primary" href="{% url 'cultivo_en_proceso_create' %}">Agregar producción</a>
    {% if object_list %}
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <!--<th>#</th>-->
                <th>Producto</th>
                <th>Hectáreas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

                {% for i in object_list %}
                    <tr>
                        <!--<td>{{ i.id }}</td>-->
                        <td>{{ i.producto }}</td>
                        <td>{{ i.hectareas }}</td>
                        <!--<td>{{ i.created }}</td>-->
                        <!--<td>{{ i.updated }}</td>-->
                        <td>
                            <a class="btn btn-primary" href="{% url 'cultivo_en_proceso_show' i.pk %}">Ver</a>
                            <a class="btn btn-success" href="{% url 'cultivo_en_proceso_update' i.pk %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'cultivo_en_proceso_delete' i.pk %}">Eliminar</a>
                            <a class="btn btn-info" href="{% url 'almacen_create' i.pk %}">Guardar en almacén</a>
                        </td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
    {% else %}
        <h2>No hay producción en marcha</h2>
    {% endif %}
    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}