{% extends 'base/base.html' %}

{% block title %}
Plan agrícola
{% endblock %}

{% block title2 %}
Plan agrícola
{% endblock %}


{% block contenido %}
    {% if object_list %}
    <table class="table table-striped table-bordered">
        <thead class="bg-success">
            <tr>
                <th>Cultivo</th>
                <th>Ciclo</th>
                <th>Hectáreas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
                    <tr>
                        <td>{{ i.cultivo }}</td>
                        <td>{{ i.ciclo }}</td>
                        <td>{{ i.hectareas }}</td>
                        <!--<td>-->
                            <!--<p><strong>Cultivo:</strong> {{ i.cultivo }}</p>-->
                            <!--<p><strong>Ciclo:</strong> {{ i.ciclo }}</p>-->
                            <!--<p><strong>Hectáreas:</strong> {{ i.hectareas }}</p>-->
                            <!--<p><strong>Costo:</strong> {{ i.costo }}</p>-->
                            <!--<p><strong>Producción estimada:</strong> {{ i.produccion_estimada }}</p>-->
                            <!--<p><strong>Cantidad:</strong> {{ i.cantidad }}</p>-->
                            <!--<p><strong>Total:</strong> {{ i.total }}</p>-->
                        <!--</td>-->
                        <td>
                            <a class="btn btn-primary" href="{% url 'plan_agro_show' i.pk %}">&nbsp;&nbsp;&nbsp;&nbsp;Ver&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <a class="btn btn-success" href="{% url 'plan_agro_update' i.pk %}">&nbsp;&nbsp;Editar&nbsp;&nbsp;</a>
                            <a class="btn btn-danger" href="{% url 'plan_agro_delete' i.pk %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>No hay registros</h2>
    {% endif %}
    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}