{% extends 'base/base.html' %}

{% block title %}
Abonos
{% endblock %}

{% block title2 %}
Abonos
{% endblock %}

{% block contenido %}

    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <!--<th>#</th>-->
                <th>#</th>
                <th>Descripcion</th>
                <th>Abono</th>
                <th>Fecha</th>
                <!--<th>Acciones</th>-->
            </tr>
        </thead>
        <tbody>
            {% if object_list %}

                {% for i in object_list %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.descripcion }}</td>
                        <td>{{ i.deuda }}</td>
                        <td>{{ i.fecha }}</td>
                    </tr>

                {% endfor %}
            {% else %}
                <h2>No hay registros abonos</h2>
            {% endif %}
        </tbody>
    </table>
 <div class="container" align="left">
     <ul class="pager">
         <a class = " btn btn-primary "  href = " {% url 'Deudore_Acreedores_list' %} " > Regresar </a>
     </ul>
 </div>
<br>
    <div class="container" align="left">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}