{% extends 'base/base.html' %}

{% block title %}
Abonos
{% endblock %}

{% block title2 %}
Historial de abonos
{% endblock %}

{% block contenido %}
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }} btn btn-danger"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </ul>
    {% endif %}

    {% if object_list %}
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <!--<th>#</th>-->
                <th>#</th>
                <th>Descripcion</th>
                <th>Abono</th>
                <th>Fecha</th>
                <!--<th>Acciones</th>-->
            </tr>
        </thead>
        <tbody>
                {% for i in object_list %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.descripcion }}</td>
                        <td>${{ i.deuda }}</td>
                        <td>{{ i.fecha }}</td>
                    </tr>

                {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>No hay registros abonos</h2>
{% endif %}
 <div class="container" align="left">
     <ul class="pager">
         <a class = " btn btn-primary "  href = " {% url 'Deudore_Acreedores_list' %} " > Regresar </a>
     </ul>
 </div>
<br>


{% endblock %}