{% extends 'base/base.html' %}

{% block title %}
Comparación
{% endblock %}

{% block title2 %}
Comparación Porcino-Planeación
{% endblock %}


{% block contenido %}
    {% if query1 %}
    <h3>Ventas</h3>
        <table class="table table-striped table-bordered">
            <thead class="bg-success">
                <tr>
                    <th>Cantidad vendida_$</th>
                    <th>Ganacias totales_$</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>$ {{ venta_total }}</td>
                        <td>$ {{ g1 }}</td>
                    </tr>
            </tbody>
        </table>
    {% else %}
        <h2>No hay registros de ventas</h2>
    {% endif %}

    {% if query2 %}
    <h3>Total a vender</h3>
        <table class="table table-striped table-bordered">
            <thead class="bg-success">
                <tr>
                    <th>Cantidad a vender</th>
                    <th>Ganancias esperadas_$</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$ {{ planeado }}</td>
                    <td>$ {{ g2 }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h2>No hay registros de la planeación</h2>
    {% endif %}

    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}