{% extends 'base/base.html' %}

{% block title %}
Comparación
{% endblock %}

{% block title2 %}
Comparación Real-Planeado
{% endblock %}


{% block contenido %}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Mes inicial</label>
        <!--<br>-->
        <select name="c1">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <br>
        <label>Mes final</label>
        <!--<br>-->
        <select name="c2">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <br>
        <label>Año</label>
        <input type="number" name="ano" placeholder="Dame el año Ej. 2019" required>

        <div class="trans">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <h3>Planeado: ${{ plan_total }}</h3>
        <table class="table table-striped table-bordered">
            <thead class="bg-success">
                <tr>
                    <th>Plan bovino</th>
                    <th>Plan porcino</th>
                    <th>Plan de leche</th>
                    <th>Plan agricultura</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        {% if bovino %}
                        <td>${{ bovino }}</td>
                        {% else %}
                            <td>${{ bovino }}</td>
                        {% endif %}


                        {% if porcina %}
                        <td>${{ porcina }}</td>
                        {% else %}
                            <td>${{ porcina }}</td>
                        {% endif %}


                        {% if leche %}
                        <td>${{ leche }}</td>
                        {% else %}
                            <td>${{ leche }}</td>
                        {% endif %}

                        {% if agricultura %}
                        <td>${{ agricultura }}</td>
                        {% else %}
                            <td>${{ agricultura }}</td>
                        {% endif %}
                    </tr>
            </tbody>
        </table>
        <br>
    <h3>Real: ${{ ganancia_total }}</h3>
        <table class="table table-striped table-bordered">
            <thead class="bg-success">
                <tr>
                    <th>Real bovino</th>
                    <th>Real porcino</th>
                    <th>Real leche</th>
                    <th>Real de agricultura</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        {% if suma_ganado %}
                        <td>${{ suma_ganado }}</td>
                        {% else %}
                            <td>${{ suma_ganado }}</td>
                        {% endif %}


                        {% if suma_cerdos %}
                        <td>${{ suma_cerdos }}</td>
                        {% else %}
                            <td>${{ suma_cerdos }}</td>
                        {% endif %}


                        {% if suma_leche %}
                        <td>${{ suma_leche }}</td>
                        {% else %}
                            <td>${{ suma_leche }}</td>
                        {% endif %}


                        {% if suma_agricola %}
                        <td>${{ suma_agricola }}</td>
                        {% else %}
                            <td>${{ suma_agricola }}</td>
                        {% endif %}
                    </tr>
            </tbody>
        </table>


    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}