
{% extends 'base/base.html' %}

{% block title %}
Detalles de bovino
{% endblock %}

{% block contenido %}

    <br>
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>Datos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p><strong>#:</strong> {{ form1.id }}</p>
                    <p><strong>Nombre:</strong> {{ form2.nombre }}</p>
                    <p><strong>Arete:</strong> {{ form2.arete }}</p>
                    <p><strong>Siniga:</strong> {{ form2.siniga }}</p>
                    <p><strong>Descripción:</strong> {{ form1.descripcion }}</p>
                    <p><strong>Fecha de la venta:</strong> {{ form1.fecha }}</p>
                    <p><strong>Total:</strong> {{ form1.total }}</p>
                    <!--<p><img src="{{ form2.img.url }}" class="col-md-3"></p>-->
                </th>
            </tr>
        </tbody>
    </table>




    <a class="btn btn-primary" href="{% url 'venta_list' %}">Regresar</a>
    <br>
    <br>
    <br>

{% endblock %}