
{% extends 'base/base.html' %}

{% block title %}
Detalles de bovino
{% endblock %}

{% block contenido %}

    <br>
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>Datos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <p><strong>Numero de venta:</strong> {{ object.no_venta }}</p>
                    <p><strong>Descripción de la venta:</strong> {{ object.descripcion_venta }}</p>
                    <p><strong>Tipo de bovino:</strong> {{ object.tipo }}</p>
                    <p><strong>Total de la venta:</strong> {{ object.total_venta }}</p>
                    <p><strong>Comprador:</strong> {{ object.comprador }}</p>
                    <p><strong>Fecha:</strong> {{ object.fecha }}</p>
                </th>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'venta_list' %}">Regresar</a>
    <br>
    <br>
    <br>

{% endblock %}