{% extends 'base/base.html' %}

{% block title %}
Leche
{% endblock %}

{% block title2 %}
Venta de leche
{% endblock %}

{% block contenido %}
    <a class="btn btn-primary" href="{% url 'leche_crear' %}">Agregar venta</a>
    {% if object_list %}
    <table class="table table-striped table-bordered">
    <thead class="bg-success" >
    <tr>
        <!--<th>#</th>-->
        <th>Cantidad</th>
        <th>Total</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>

    {% for i in object_list %}
    <tr>
        <!--<td>{{ i.id }}</td>-->
        <td>{{ i.cantidad }}</td>
        <td>{{ i.total }}</td>
        <td>{{ i.fecha }}</td>
        <!--<td>{{ i.created }}</td>-->
        <!--<td>{{ i.updated }}</td>-->
        <td>
            <!--<a class="btn btn-primary" href="{% url 'venta_show' i.pk %}">Ver</a>-->
            <!--&lt;!&ndash;<a class="btn btn-success" href="#">Editar</a>&ndash;&gt;-->
            <a class="btn btn-danger" href="{% url 'leche_delete' i.pk %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
    </table>
    {% else %}
    <h2>No hay registros de venta de leche</h2>
    {% endif %}
<div class="container" align="center">
    <ul class="pager">
        {% if page_obj.has_previous %}
        <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </ul>
</div>

{% endblock %}