{% extends 'base/base.html' %}

{% block title %}
Gastos
{% endblock %}

{% block title2 %}
Historial Gastos
{% endblock %}


{% block contenido %}
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Mes inicial</label>
        <!--<br>-->
        <select name="c1">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <br>
        <label>Mes final</label>
        <!--<br>-->
        <select name="c2">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <br>
        <label>Año</label>
        <input type="number" name="ano" placeholder="Dame el año Ej. 2019" required>

        <!--<div class="trans">-->
            <button class="btn btn-primary" type="submit">Buscar</button>
        <!--</div>-->
    </form>

    <a class="btn btn-primary" href="{% url 'Historial_Compras_create' %}">Agregar</a>
    {% if object_list %}
    <table class="table table-striped table-bordered">
        <thead class="bg-success" >
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Total</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

                {% for i in object_list %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.tipo }}</td>
                        <td>${{ i.monto }}</td>
                        <td><img src="{{ i.img.url }}" class="col-md-1"></td>
                        <!--<td>{{ i.created }}</td>-->
                        <!--<td>{{ i.updated }}</td>-->
                        <td>
                            <a class="btn btn-primary" href="{% url 'Historial_Compras_show' i.pk %}">Ver</a>
                            <a class="btn btn-success" href="{% url 'Historial_Compras_update' i.pk %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'Historial_Compras_delete' i.pk %}">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h2>No hay registros en el historial</h2>
            {% endif %}
        </tbody>
    </table>
    <div class="container" align="center">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary " href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </ul>
    </div>

{% endblock %}