{% extends 'base/base.html' %}

{% block title %}
Index
{% endblock %}

{% block contenido %}
{% load staticfiles %}
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section start -->   
	<!--<header class="header-area">-->
		<!--<a href="{% url 'index' %}" class="logo-area">-->
			<!--<img src="{% static 'inicio/logorancho2sfb.png' %}" alt="" width="180" height="90">-->
		<!--</a>-->
		<!--<div class="nav-switch">-->
			<!--<i class="fa fa-bars"></i>-->
		<!--</div>-->
	<!--</header>-->

	<div class="container text-center">
		<h1>Panel para el manejo de <br><br><img src="{% static 'inicio/LOGO Rancho png.png' %}" alt="" width="290" height="190"> <br><br>San Miguel <br> Temoloasco Limousin & Brangus</h1>
	</div>
{% endblock %}

{% block notificaciones %}
	{% if form %}
		({{ form|length }})
	{% endif %}
{% endblock %}

{% block datos %}
	{% if form %}
		{% for i in form %}
			<a class="dropdown-item" href="#">{{ i.descripcion }}</a>
		{% endfor %}
	{% endif %}
{% endblock %}

